body {
	text-align: center;
}
table {
	margin: auto;
}
td {
	width: 100px;
	height: 100px;
}
.second {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.first {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
.firstmod {
	border-top: 1px solid black;
}
.secondmod {
	border-top: 1px solid black;
}